<div class="content-div">

    <h2 style="justify-content: center;text-align:center">Zeitmessung Mundspülung</h2>

    <p id="timerLabel" class="timer-style">{{timerTime}}<p>

    <button class="action-button" (click)="startTimer()" color="primary" mat-raised-button>Zeit starten</button>

    <button class="action-button" (click)="stopTimer()" color="accent" mat-raised-button>Zeit stoppen</button>

    <button class="action-button" (click)="resetTimer()" color="warn" mat-raised-button>Zurücksetzen</button>

    <mat-divider class="my-divider"></mat-divider>

</div>