<mat-grid-list cols="1" rowHeight="400px">
    <mat-grid-tile>
        <mat-card class="dashboard-card">

            <mat-card-header>
                <mat-card-title>Behandlungsvorbereitung Patient</mat-card-title>
                <mat-card-subtitle>Tool für die audiovisuelle Unterstützung der Behandlungsvorbereitung des Patienten</mat-card-subtitle>
            </mat-card-header>
        
            <mat-card-content>
        
            </mat-card-content>
        
            <mat-card-actions>
                <button mat-raised-button [routerLink]="['/treatment-preparation']">Tool starten</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>


