/* You can add global styles to this file, and also import other style files */


.content-div {

    border-style: solid;
    border-color: black;
    border: 5px solid black;
    margin: 30px;
    padding: 20px;
    width: 450px;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color:lightgreen;
    

}

h1,h2,h3,p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.accent-text {
    color: green;
}

.action-button {

    margin: 10px !important;

}

.timerface {

    font-size: 40pt;
    padding: 25px;
    border-bottom: 6px solid green;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgrey;
    color: green;

}

.my-divider {

    margin-top:10px;
}
